 {{#each .}}
    <h1 class="counrty-name">{{this.name}}</h1>
    <div class="box">
        <ul class="country-description">
            <li class="country-item">Capital: <span class="language-list-item">{{this.capital}}</span></li>
            <li class="country-item">Population: <span class="language-list-item">{{this.population}}</span></li>
            <li class="country-item">Language:
                <ul class="language-list">
                    {{#each this.languages}}
                <li class="language-list-item">{{this.name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
        <img class="flag" src="{{this.flag}}" alt="Country's flag">
    </div>
{{/each}}